<html>

<body>
<div>
    <form method="post">
        <input type="text" name="name" placeholder="Name of goods" />
        <input type="number" name="price" placeholder="price">
        <input type="date" name="date" placeholder="date">
        <select name="currency" size="4" multiple>
            <option>UAH</option>
            <option>USD</option>
            <option>EUR</option>
            <option>RUB</option>
        </select>
        <button type="submit">add</button>
    </form>
</div>




<div>
    <a href="/showAllGoods">Show all goods</a>
</div>
<div>
    <a href="/findGoods">Find by date</a>
</div>
<div>
    <a href="/totalYearProfit">Total year profit</a>
</div>
</body>
</html>
