<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>List of all items:</h2>
<hr>
{{#sortedList}}
    <div>Date: {{date}}</div>
    <div>Price: {{price}}</div>
    <div>Currency: {{curency}}</div>
    <div>Name: {{name}}</div>

    <br>
{{/sortedList}}


</body>
</html>